@model User
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor hcontext
@using Microsoft.Data.SqlClient;
@inject SqlConnection de
@using LoginFinal.BL
@using System.Security.Claims;
@using LoginFinal.HelpingClasses
@{
    var Userid = hcontext.HttpContext.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Sid)?.Value;
    var CurrentUserRecord = new UserBL().GetActiveUserById(Convert.ToInt32(Userid), de);
    User loggedinUser = CurrentUserRecord;
}
@{
    ViewBag.Title = "Update Password";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
   
}

<form asp-controller="Seller" asp-action="PostUpdatePassword" method="post">
    
    
    <section class="py-5">
         <div class="container">
            <div class="row">
               <div class="col-lg-3 mb-md-0 mb-3">
                  <div class="bg-white rounded shadow-sm py-3 sidebar-fix">
                     <div class="dropdown-menu-show">
                        <a class="dropdown-item py-2 active" href="#">Edit Security</a>
                     </div>
                  </div>
               </div>
        <div class="col-lg-9">
                    
                  <div class="bg-white rounded shadow-sm sidebar-page-right">
                     <div>
                        <div class="p-3 border-bottom">
                                <form>
                              <div class="row d-flex align-items-center form-group">
                                 <div class="col-md-4">
                                    <p class="text-muted font-weight-bold mb-0">Current Password<span class="text-danger mr-1">*</span> :</p>
                                 </div>
                                 <div class="col-md-8">
                                    <input type="password" name="oldPassword" class="form-control font-weight-bold text-muted">
                                      @if(ViewBag.chn==2)
                                    {
                               <p class="text-danger pt-2">Your current password does not match with old one.</p>
                               ViewBag.chn = 0;
                                }
                                 </div>
                                
                              </div>
                              <div class="row d-flex align-items-center form-group">
                                 <div class="col-md-4">
                                    <p class="text-muted font-weight-bold mb-0">New Password :</p>
                                 </div>
                                 <div class="col-md-8">
                                    <input id="npassword" type="password" name="newPassword" class="form-control font-weight-bold text-muted">
                                 </div>
                              </div>
                              <div class="row d-flex align-items-center form-group">
                                 <div class="col-md-4">
                                    <p class="text-muted font-weight-bold mb-md-5 mb-0">Confirm Password :</p>
                                 </div>
                                 <div class="col-md-8">
                                    <input type="password" name="confirmPassword" onkeyup="matchPassword(this.value)" class="form-control font-weight-bold text-muted">
                                    <span class="text-danger" id="errMsg" style="display:none">New and Confirm Password did not match</span>
                                            @if (ViewBag.Message != "")
                                            {
                                               
                                                <span style="color:@ViewBag.Color">@ViewBag.Message</span>
                                            }
                                        </div>
                                   
                              </div>
                              

                              <div class="text-right">
                                 <button type="submit" id="subBtn" class="btn btn-success">Save Changes</button>
                              </div>
                           </form>
                        </div>
                       <div class="float-right">
                          <br />
                          <br />
                           <a role="button" class="btn btn-danger btn-block" style="color:white;" data-toggle="modal" data-target="#deleteModal">Close Account</a>
                          
                       </div>
                     </div>
                  </div>
               </div>
                </div>
               </div>
      </section>
        <!--Modal-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <h3 class="modal-title" style="color:white;" >Warning !</h3>
                    <button type="button" class="close" data-dismiss="modal" style="color:white;" aria-label="Close">&times;</button>
                    
                </div>
                <div class="modal-body p-5">
                    <h6 class="text-semibold" style="font-size:17px">
                        Are you sure you want to close your account ? <br /><br />
                        This action cannot be undone !
                    </h6>
                </div>
                <div class="modal-footer border-top-1 border-top-grey-300 pt-10">
                    <form method="post">
                        <button class="btn btn-link" style="text-decoration:none;" data-dismiss="modal">Cancel</button>
                        <a role="button" class="btn btn-danger" style="color:white;" href="@Url.Action("DeleteUser","Seller", new{id2= StringCipher.EncryptId(@loggedinUser.Id)})">Proceed</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
      </form>


      <script>

    function matchPassword(confirmPw)
    {
        var newPw = $('#npassword').val();
        if (newPw != confirmPw)
        {
            $('#errMsg').attr("style","display:block");
            $('#subBtn').attr("disabled", true);
        }
        else {
            $('#errMsg').attr("style","display:none");
            $('#subBtn').attr("disabled", false);
        }
    }


    
</script>


