
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!-- Intro -->

<pre>





</pre>
<section id="intro-3">
    <div class="container">

        <div class="row">
            <div class="col-md-5">
                <h4>Automobiles</h4>
                <h2 style="font-weight:700">
                    Best Fitting the Services<br />
                    <span style="font-weight:900">Provided by the platform</span>
                </h2>
                <div class="row" style="margin-top:100px">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <a class="btn btn-block" href="@Url.Action("Offer","Home")">Get an Instant Offer</a>
                    </div>
                    <div class="col-md-2"></div>
                </div>

            </div>
            <div class="col-md-7">
                <div class="intro-img-wp">
                    <img src="~/Content/Frontassets/images/car-img-01.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Intro -->
<!--How it Works-->


<section id="how-work" class="section-padding">
    <div class="container mt-5">
        <div class="heading-3 text-center" style="padding-bottom:20px;">
            <h2>How it Work</h2>
            <p>Helps you to find perfect car. But I must explain to you how all this mistaken</p>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <hr />
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-md-4 col-sm-4 works-text">
                        <h4>Enter Vehicle Details</h4>
                        <p>By filling out our form with accurate information on CarBrain, we can give you an instant offer some  vehicles or contact you with a guaranteed offer shortly after you finish entering your car's details.</p>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="">
                            <img src="~/Content/Frontassets/images/HowitWorks/01Step.png" class="center" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="works-image">
                            <img src="~/Content/Frontassets/images/HowitWorks/1a.png" class="img-style" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="works-image">
                            <img src="~/Content/Frontassets/images/HowitWorks/1b.png" class="img-style" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="">
                            <img src="~/Content/Frontassets/images/HowitWorks/02Step.png" class="center" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 works-text">
                        <h4>Enter Vehicle Details</h4>
                        <p>By filling out our form with accurate information on CarBrain, we can give you an instant offer some  vehicles or contact you with a guaranteed offer shortly after you finish entering your car's details.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-4 works-text">
                        <h4>Enter Vehicle Details</h4>
                        <p>By filling out our form with accurate information on CarBrain, we can give you an instant offer some  vehicles or contact you with a guaranteed offer shortly after you finish entering your car's details.</p>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="">
                            <img src="~/Content/Frontassets/images/HowitWorks/03Step.png" class="center" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="works-image">
                            <img src="~/Content/Frontassets/images/HowitWorks/1c.png" class="img-style" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<pre>




</pre>
