
@{
    ViewBag.Title = "Result Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-deck">
    <div class="card custom-padding" style="border:none;margin-top:10%;">
        <div class="row p-3">
            <div class="col-md-12">

                <h2 class="text-center">! Congrats you got an Offer</h2>

                <h4 class="text-center mt-3 mb-5 pb-5" style="color: #555555">We want to buy your car</h4>
                <div class="text-center">

                    <img id="loadNameAndPrice" src='~/Content/assets/images/loading.gif' width='40' style=" display: none " />

                    <h3 class="custom-heading" style="color:#dc5700"><i><span style="color:#dc5700" id="showYearMakeModel"></span></i></h3>


                    <h4 class="custom-heading" style="color:#666"><strong id="priceshow"> </strong><span id="showPrice">@ViewBag.Price</span></h4>

                </div>


                <div class="mt-5 pt-5">
                    <div class="text-center">
                       
                            <p>We Come to You</p>
                            <p>We Pay you on the spot</p>
                        
                    </div>

                    <div class="row" style="margin-right:33%;">
                        <div class="col-md-6 col-sm-6 text-center">
                            <a class="btn btn-block btn-danger text-white"> Proceed </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>

